extends layout

block header
    h1 FTP server 회원가입 창

block content
    form(method="POST", action="")
        table
            tr
                td id
                td 
                    input(type="text", name="id" value=id)

            tr
                td pw
                td 
                    input(type="password", name="pw", value=pw)
            
            tr
                td 인증번호
                    td 
                        input(type="text", name="authnum", value=nu)
        button(type="submit") 회원가입


    p.err= err
    